*{

    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    text-decoration: none;
    list-style-type: none;
}
.container{
    display: flex;
    margin: 0 auto;
    width: 95%;
    justify-content: flex-start;
    
}
.secao{
    width: 30%;
}
.noticias{
    color: red;
}
.esportes{
    color: green;
}
.dicas{
    color: orange;
}
.barra-nav{
    width: 50%;
    display: flex;
}

.menu-principal {
    display: flex;
    justify-content: space-around;
    margin: 30px;
    padding: 0;
    width: 300px;
    font-weight: bold;
}

.busca {
    display: flex;
    height: 20px;
    padding-top: 28px;
    align-items: center;
}

.barra-nav {
    width: 100%;
    align-items: center;
    height: 60px;
    display: flex;
    background-color: rgba(192, 188, 188, 0.295);
}
.noticia_1{
    display: flex;
    justify-content: space-between;
}
img{
    margin: 0 20px 20px 0;

}

.logo{
    padding: 20px 0 0 0;
}
.destaques{
    padding: 75px 0 0 0;
}
.secao_foot{
   display: flex; 
}
.bbb{
    width: 100%;
    margin: 0 auto;

}
.borda{
    display: flex;
    border: 1px solid rgba(128, 128, 128, 0.199);
}

.secao_bbb{
    margin: 20px;
    width: 100%;
}

.bola{
    height: 100px;
    line-height: 1.5;
}
.bolinha{
    width: 10px;
	height: 10px;
	border-radius: 50%;
	overflow: hidden;
	float: left;
	margin: 3px;
    background-color: rgba(47, 47, 48, 0.534);
    }

    .linha{
    width: 80%;
	height: 1px;
	overflow: hidden;
	float: left;
	margin: 3px;
    background-color: rgba(47, 47, 48, 0.534);
    
    }

