body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Quicksand', sans-serif;
    color: rgb(76, 18, 170);
}

.logo_h1 {
    align-content: center;
    background: -webkit-linear-gradient(#45AED5, rgb(173, 50, 230));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.background {
    background-color: rgba(101, 243, 231, 0.199);
    /* background: -webkit-linear-gradient(rgba(99, 223, 245, 0.288), rgba(215, 161, 240, 0.192)); */
}

a{
    color: rgb(152, 59, 228);
    align-items: center;
    justify-content: center;
}
.imagem-carrossel {
    object-fit: contain;
}

.nav-link{
    font-size: 13pt;
}
.nav-item{
    padding-top: 9px;
}
.container-padrao{
    width: 80%;
    margin: 0 auto;
}

.btn-cor{
   background-color: rgba(82, 243, 248, 0.336);
   color:  rgb(132, 35, 170);
   font-weight: bold;
   border: none;
   font-size: 12pt;
   text-transform:uppercase;
}
